<h1>Sign up</h1>
<div>
  <form action="/users/register" method="POST" class="form">

  <div class="uk-margin">
    <div class="uk-inline">
      <label for="email"></label>
      <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: mail"></span>
      <input name='email' class="uk-input uk-form-width-large {{#if errors.email}}is-invalid{{/if}}" type="email" id='email' placeholder="Email" required>
      {{#if errors.email}}
        <div class="uk-alert-danger" uk-alert>
            <a class="uk-alert-close" uk-close></a>
          {{errors.email}}
        </div>
      {{/if}}
    </div>
  </div>

  <div class="uk-margin">
    <div class="uk-inline">
      <label for="username"></label>
      <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user"></span>
      <input name='username' class="uk-input uk-form-width-large" type="text" id='username' placeholder="Username"required >
    </div>
  </div>

  <div class="uk-margin">
    <div class="uk-inline">
      <label for="password"></label>
      <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
      <input name='password' class="uk-input uk-form-width-large {{#if errors.password}}is-invalid{{/if}}" type="password" id='password' placeholder="Password" required>
      {{#if errors.password}}
      <div class="invalid-feedback">
        {{errors.password}}
      </div>
      {{/if}}
    </div>
  </div>

  <button class="uk-button uk-button-secondary uk-margin-small uk-form-width-large">Sign up</button>
  
  <a href="/users/authenticate/google" uk-icon="icon: google" class="uk-button uk-margin-small uk-button-default uk-form-width-large">Sign up with Google   </a>
  <a href="/users/auth/facebook" uk-icon="icon: facebook" class="uk-button uk-margin-small uk-button-primary uk-form-width-large">Sign up with Facebook   </a>


</form>
</div>