
<div id="modal-log-{{this._id}}" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical">
        <button class="uk-modal-close-outside" type="button" uk-close></button>
        <a href="/logs/{{this._id}}">
          <img src="{{this.image}}" alt="">
        </a>
    </div>
</div>