
<div class='prehome-container'>

  <div class='prehome-image uk-width-1-2'>
    <img src="/images/fotolog.svg" alt="">
  </div>

  <div class='prehome-login'>

    <div>
      <h2 class='uk-margin-xlarge' style='text-align:center'>If you're not using Fotolog, you're only getting half the story</h2>
    </div>
    <div class='prehome-buttons'>
      <a href="/users/register" class='uk-button uk-button-default uk-width-2-3 uk-margin-small'>Sign Up</a>
      <a href="/users/login" class='uk-button uk-button-secondary uk-width-2-3 uk-margin-small'>Log In</a>
    </div>

  </div>

</div>