h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  border-radius: 50%;
  
}

.hidden {
  display: none;
}

body {
  margin-bottom: 5rem;
}

.prehome-container {
display: flex;
justify-content: space-around;
align-items: center;
height: 75vh;
}

.prehome-image {
  margin-right: 5rem;
}


.prehome-login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prehome-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  